<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Bicket</a>
        </div>
        <ul class="nav navbar-nav">
<<<<<<< HEAD
        <li class="active"><a href="/home">Hallo <%= dataFind.name %> !</a></li>
=======
        <li class="active"><a>Hallo, <%= dataFind.name %> !</a></li>
        <li><a href="/movie">Movie</a></li>
        <li class="active"><a>Hallo <%= dataFind.name %> !</a></li>
>>>>>>> 6db3b5f47239af94ddce844f497acffdf6189b39
        <li><a href="/movie/list">Movie</a></li>
        <li><a href="/transaction">My Transaction</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
=======
        <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
>>>>>>> 6db3b5f47239af94ddce844f497acffdf6189b39
        <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>