<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="">Bicket</a>
        </div>
        <ul class="nav navbar-nav">
        <li class="active"><a>Admin</a></li>
        <li><a href="/transaction/list">Transaction</a></li>
        <li><a href="/movie">Movie</a></li>
        <li><a href="/user/list">User Bicket</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        <li><a href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>