<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Bicket</title>
</head>
<body>
        <%- include('partials/navbar.ejs') %>
    <center>
        <p>halaman movie all</p>
        <div class="container">
          <div class="row">
              <% dataMovie.forEach(el => {%>
            <div class="col-sm-4">
              <%if(el.image){%>
                <img src="<%= el. image%>" class="mx-auto d-block" style="width:30%">
              <%}else{%>
                <img src="https://lumiere-a.akamaihd.net/v1/images/p_toystory4_e8af7b4d.jpeg?region=0,0,540,810" class="mx-auto d-block" style="width:30%">
              <%}%>
              <h3><%= el.movie_name %></h3>
              <a href="/ticket/<%= el.id %>">Buy Ticket</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
          <%})%>
          </div>
        </div>
    </center>
</body>
<script>
  function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }
</script>
</html>


