<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bicket</title>
    <%- include('partials/css-login-register.ejs')%>
</head>
<body>
    <div class="container">
        <form action="/user/register" id="signup" method="POST">
            <div class="header">
                <h3>Register</h3>
            </div>
            <div class="sep"></div>
            <div class="inputs">
                <input type="text" placeholder="your name" name="name" autofocus />
                <input type="email" placeholder="e-mail" name="email" autofocus />
                <button type="submit" class="btn btn-secondary" id="submit">register</button>
                <a href="/user/login"><span class="btn btn-secondary"></span>Login</a>
            </div>
        </form>
    </div>
</body>
</html>